@import "fonts";
@import "normalize";
@import "variables";
@import "mixin";
@import "components/all";

main {
  @include content-center;
  display: grid;
  grid-template-columns: 140px auto;
  column-gap: 10px;
  padding-top: 32px;
}




