.form {
    display: grid;
    gap: 16px;

    .form-control {
        &__input {
            display: block;
            background: #f8f8f8;
            border-radius: 8px;
            padding: 14px;
            color: $gray-light;
            border: none;
            width: 100%;
        }
    }

    .button {
        display: block;
        background: $black-gray;
        border-radius: 8px;
        padding: 14px 0;
        color: $white;
        border: none;
        width: 100%;
        cursor: pointer;

        &:hover {
            background-color: $gray;
        }
    }
}
