.modal {
    background-color: #ffffff80;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    display: none;

    &-content {
        background: #ffffff;
        box-shadow: -4px 0px 16px rgba(0, 0, 0, 0.05);
        border-radius: 8px 0px 0px 8px;
        height: 100%;
        max-width: 460px;
        width: 100%;
        padding: 52px 48px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
            background: $gray;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: $black-gray;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            figure {
                cursor: pointer;
            }
        }

        &__title {
            font-size: 32px;
            color: $black-gray;
            font-weight: bold;
        }

        &__body {
            padding: 24px 0;

            &-title {
                margin-bottom: 16px;
                font-size: 18px;
                color: $gray;
            }
            &-empty {
                color: $black-gray;
                font-size: 22px;
            }
        }

        &__footer {
            &-title {
                margin-bottom: 16px;
                font-size: 18px;
                color: $gray;
            }
        }
    }
}
